.creatorsContainer {
    background-image: url(../../images/fondo1.png);
    background-attachment: fixed;

}

.creators__header{
    display: flex;
    align-items: center;
    gap: 35rem;    
    background-color: rgba(255, 255, 255, 0.50);
    margin-bottom: 4rem;
    padding-bottom: 2.5rem;    
    background-attachment: fixed;
    .logoContainer {
        width: 10rem;

        img {
            width: 100%;
        }
    }

    @media (max-width: 500px) {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        gap: unset;
    }

    &--title{
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        @media (min-width: 768px) {
            font-size: 40px;
        }
    }
}

.creators__main{
    background-image: url(../../images/fondo1.png);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 500px) {
        padding: 0 1rem;
        .textCreators{
            font-size: 1.5em;
        }
    }

}

.listCreators{
    display: grid;
    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    &__element{
        margin: 20px;
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.50);
        border-radius: 10px;
        &--text{
            text-align: center;
           margin: 5px 0;
           font-size: 20px;
        }
        &--img{
            border-radius: 50%;
            height: 250px;
            margin: auto;
            @media (min-width: 1200px) {
                height: 350px;
                margin: 40px;
            }
        }
        &--div{
            display: flex;
            justify-content: space-between;
            margin: 5px;
            @media (max-width: 500px) {
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.fab{
    font-size: 20px;
    padding: 10px ;
}