@import '../core/variables';

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-family: $fontmain;
    background-color: rgba(255, 255, 255, 0.50);
    background-attachment: fixed;
    &__div{
        width: 100%;
        &--link{
           padding: 20px;
        }
        &--title{
            font-family: $fonttitle;
            font-weight: bold;
            text-align: center;
            padding: 10px;
            font-size: 20px;
            @media (min-width: 768px) {
                font-size: 25px;
            }
            @media (min-width: 1200px) {
                font-size: 45px;
            }
        }
    }

    &--list{
        font-size: 15px;
        display: flex;
        margin: 3rem 0 1rem 0;
        @media (min-width: 768px) {
            font-size: 20px;
        }
       &__element{
        padding: 10px;

        a {
        color: rgb(0, 0, 0);
        }
       }
    }
}

