@import "../core/variables";

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-family: $fontmain;
    background-color: rgba(255, 255, 255, 0.5);
    background-attachment: fixed;
    &__div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .mainTitleContainer {
            img {
                width: 60rem;
            }
        }

        .linkToCalendar {
            margin-right: -2rem;
            .landing__main--button {
                padding: 1rem 1.9rem;
                border-radius: 1rem;
                background-color: rgb(67, 141, 67);
                color: white;
                border: none;
                box-shadow: 5px 5px 11px -1px #000000;
                font-size: 1.3em;
                font-weight: bolder;

                &:hover {
                    background-color: rgb(17, 78, 17);
                    text-decoration: underline;
                }
            }
        }

        .logoContainer {
            width: 10rem;
            img{
                width: 100%;
            }
        }

        &--link {
            padding: 20px;
        }
        &--title {
            font-family: $fonttitle;
            font-weight: bold;
            text-align: center;
            padding: 10px;
            font-size: 20px;
            @media (min-width: 768px) {
                font-size: 25px;
            }
            @media (min-width: 1200px) {
                font-size: 45px;
            }
        }
    }

    &--list {
        font-size: 15px;
        display: flex;
        margin: 0 0 1rem 0;
        @media (min-width: 768px) {
            font-size: 20px;
        }
        &__element {
            padding: 10px;

            a {
                color: rgb(0, 0, 0);
            }
        }
    }
}
@media screen and (max-width: 500px) {
    .header {
        margin: 0 !important;
        padding: 0 !important;
        width: 100%;
        &--list {
            margin: 0 !important;
            padding: 0 !important;
            text-align: center;
        }
        &__div {
            max-width: 100%;
            height: fit-content;
            flex-wrap: wrap;
        }
    }

    .header__div--link {
        margin: 0 !important;
        padding: 0 !important;
        flex-basis: 10%;
        height: 100%;

        .logoContainer {
            margin: 0 !important;
            padding: 0 !important;
            text-align: center;
            width: 100%;
            object-fit: contain;
            img {
                margin: 0 !important;
                padding: 0 !important;
                max-width: 100%;
            }
        }
    }
    .mainTitleContainer {
        height: 100%;
        object-fit: contain;
        flex-basis: 80%;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    .linkToCalendar {
        width: 100%;
        height: 100%;
        margin: 0 !important;
        padding: 0 !important;
        flex-basis: 95%;
        text-align: center;

        .landing__main--button {
            max-width: 100%;
            max-height: 100%;
            padding: 0.8rem !important;
            font-size: 1em !important;
            text-align: center;
        }
    }
    .header--list{
        margin-top: 1rem !important;
    }
}