.header {
display: flex;
justify-content: space-around;
margin: 20px;
&__title{
    font-size: 30px;
}
&__list{
    display: flex;
    align-items: flex-end;
    &--element{
        padding: 0 10px;
    }
}
}