@import "./../core/variables";

.modal__ModalTitle {
  font-size: larger;
  font-weight: bold;
  font-family: $fonttitle;
}

.modal__container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  align-content: stretch;
  justify-content: stretch;
  justify-items: stretch;
  font-family: $fontmain;
}

.modal__header {
  place-self: center stretch;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.modal__image {
  place-self: center stretch;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  img{
    width: 100%;
    height: 100%;
  }
}

.modal__title {
  place-self: center stretch;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.modal__description {
  place-self: center stretch;
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.modal__download {
  place-self: center;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  button {
    padding: 0.5rem;
    border-radius: 0.7rem;
  }
  a {
    text-decoration: none;
    color: black;
  }
  button:hover {
    background-color: black;
    a {
      color: white;
    }
  }
}

.modal__rrss {
  place-self: center;
  grid-column: 2 / 3;
  grid-row: 4 / 5;

  a{
    color:black;
  }

  span {
    color: #00acee;
  }
}
