@import "./../core/variables";


.modalBackground{
  background-color: rgba(0, 0, 0, 0.75);

}

.modal__ModalTitle {
  font-size: larger;
  font-weight: bold;
  font-family: $fonttitle;
}

.modal__container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  font-family: $fontmain;
}

.modal__header {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  h1{
    font-size: large;
    font-weight: bold;
    font-variant:small-caps
  }
  h2{
    font-weight:bold;
  }
}

.modal__image {
  object-fit: contain;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  text-align: center;
  img {
    max-width: 60%;
    max-height: 100%;
  }
}

.modal__description {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  text-align: justify;
}

.modal__download {
  place-self: center;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  button {
    padding: 0.5rem;
    border-radius: 0.7rem;
  }
  a {
    text-decoration: none;
    color: black;
  }
  button:hover {
    background-color: black;
    a {
      color: white;
    }
  }
}

.modal__rrss {
  place-self: center;
  grid-column: 2 / 3;
  grid-row: 4 / 5;

  a {
    color: black;
  }

  span {
    color: #00acee;
  }
}
