@import "../core/variables";

.notFoundPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../../images/fondo3.png);
    font-family: $fontmain;
    &__text{
         margin: 100px 15px;
        background-color: rgba(255, 255, 255, 0.70);
        padding: 20px;
        text-align: center;
        font-size: 1.3em;
             @media (min-width: 1200px) {
    font-size: 1.5em;
             }
    
    }
    &__img{
        height: 300px;
        margin-bottom: 50px;
         @media (min-width: 1200px) {
        height: 500px;
        margin-bottom: 80px;
        }
    }
    &__button{
         padding: 1rem 1.9rem;
                border-radius: 1rem;
                background-color: rgb(67, 141, 67);
                color: white;
                border: none;
                box-shadow: 5px 5px 11px -1px #000000;
                font-size: 1.3em;
                font-weight: bolder;

                &:hover {
                    background-color: rgb(17, 78, 17);
                    text-decoration: underline;
                }

    }
}