
.section_calendar{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);    
}
// .main{
//      background-image: url('../../images/papelNavidad.png');
//      background-size: cover;
// }

header {
  background-color: white;
  z-index: 99999999999;
}

#calendar::before {
  content: "";
  background-image: url("../../images/christmas.jpg");
  background-size: cover;
  position: absolute;
  top: 60px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;  
  max-height: 100%;
}