#calendar{
  content: "";
  background-color: #AA2D36;
  background-image: url("../../images/fondo4.png");
  background-attachment: fixed;
}
.section__calendar{
    display: grid;
    padding: 10px;
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      grid-auto-rows: minmax(100px, auto);
  }
  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
}
@media (min-width: 1500px) {
  grid-template-columns: repeat(4, 1fr);
}
  &--element{
    padding: 20px;
  }
}
