@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import 'core/variables';
@import 'core/reset';
@import 'components/links';
@import 'layout/page';


html,
body,
#root {
  height: 100%;
}

body {
  background-image: url("../images/fondo4.png");
  background-color: red;
}